version: '3'

services:
  nginx:
    build:
      context: .
      dockerfile: nginxDockerfile
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx-testing-static.conf:/etc/nginx/nginx.conf:ro
      {% for post in posts %}
      - ./src/templates/{post['filename']}.html:/usr/share/nginx/html/{post['filename']}
      {% endfor %}
